body {
  margin: 0;
  background-color: rgb(242, 242, 247);
  font-family: Marker felt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.image {
  text-align: center;
}

.Hello {
  font-family: Marker felt; 
  color:  rgb(71, 9, 94);
  background-color: rgb(242, 242, 247);
  text-align: left;
  font-size: 30px;
  padding: 0;
  margin-left: 1em;
}
.navbar li {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
}
.container {
  top: 80em;
  white-space: normal;
  border-style: outset;
  display: block;
  break-inside: avoid;
}
.welcomepage {
  justify-content: center;
  text-align: center;
  font-size: 25px;
}
.login {
  top: 2em;
  background-color:  rgb(71, 9, 94);
  overflow: hidden;
  justify-content: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.signup {
  top: 2em;
  background-color:  rgb(71, 9, 94);
  overflow: hidden;
  justify-content: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
p {
  font-family: Marker felt;
  font-style: bold; 
  font-size: 24px;
}
button {
  margin-left: .24em;
  font-family: Marker felt;
  background-color: white;
  color: black;
}
h1 a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
h1 a:hover {
  background-color: #555;
  color: rgb(137, 135, 135);
}
h1 {
  background-color: rgb(71, 9, 94);
  padding: 2em;
  text-align: center;
  text-decoration-color: white;
  font-size: 17px;
  font-family: Marker felt; 
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  border: solid;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-family: Marker felt;
  padding: .5em;
}
.formbutton {
  background-color: rgb(104, 6, 81);
  color: white;
}
form {
  font-family: Marker felt;
}
.filter {
  font-family: Marker felt;
  margin: 0;
  padding: 0;
}

.Home {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Login {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.Signup {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.heart-shape{
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgba(250,184,66, 1);
} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}